// Font Imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font Family
$inter: "Inter", sans-serif;

// Colors
$primary: hsl(0, 0%, 46%);
$secondary: hsl(42.4, 100%, 50%);

// Light Mode
$bgColor-light: hsl(0, 0%, 89.8%);
$heading-light: hsl(0, 0%, 16.9%);
$contrast-light: hsl(0, 0%, 100%);

// Dark Mode
$bgColor-dark: hsl(210, 4%, 10%);
$heading-dark: hsl(0, 0%, 98%);
$contrast-dark: hsl(210, 3%, 15%);

// Content Parameters
$contentW: 970px;
$gap: 20px;
