@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  --section-background: hsl(0, 0%, 89.8%);
  --heading-color: hsl(0, 0%, 16.9%);
  --contrast: hsl(0, 0%, 100%);
  --primary: hsl(0, 0%, 40%);
}

.dark {
  --section-background: hsl(210, 4%, 10%);
  --heading-color: hsl(0, 0%, 98%);
  --contrast: hsl(210, 3%, 15%);
  --primary: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin: 0;
}

.switch {
  background: var(--contrast);
  cursor: pointer;
  display: grid;
  height: 60px;
  place-content: center;
  position: fixed;
  right: -30px;
  transition: right 0.3s ease-in-out;
  width: 60px;
  z-index: 1000;
}
.switch:hover {
  right: 0;
}
.switch svg path {
  fill: var(--heading-color);
}

body {
  align-items: center;
  background-color: var(--section-background);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
body section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
body section:last-child {
  margin-bottom: 50px;
}
body section .section-header h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}
body section .section-header p {
  color: var(--primary);
  line-height: 24px;
}

.content-wrapper {
  max-width: 970px;
  width: 100%;
}

header {
  background: url(../images/header-background-mobile.svg) var(--contrast);
  background-size: cover;
  margin-bottom: 50px;
  padding: 62px 70px;
  text-align: center;
}
header .header__left {
  align-self: center;
  flex: 1 1 500px;
}
header .header__left h1 {
  font-size: 2.13rem;
  margin-bottom: 25px;
}
header .header__left h1 span {
  color: hsl(42.4, 100%, 50%);
}
header .header__left p {
  color: var(--primary);
  display: none;
}
header .header__left a {
  text-decoration: none;
}
header .header__left a .btn {
  align-content: center;
  background: hsl(42.4, 100%, 50%);
  border-radius: 5px;
  color: hsl(0, 0%, 16.9%);
  display: inline-flex;
  font-size: 1.067rem;
  font-weight: 500;
  padding: 16px 32px;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}
header .header__left a .btn img {
  padding-left: 9px;
}
header .header__left a .btn:hover {
  opacity: 0.8;
}
header .header__right {
  display: none;
}

.experience {
  text-align: center;
}
.experience p {
  margin-bottom: 50px;
}
.experience .experience__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.experience .experience__container .experience__item {
  align-items: center;
  background-color: var(--contrast);
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
}
.experience .experience__container .experience__item h3 {
  margin-bottom: 25px;
}
.experience .experience__container .experience__item ul {
  color: var(--heading-color);
  list-style: none;
}
.experience .experience__container .experience__item ul li + li {
  padding-top: 15px;
}

.portfolio {
  text-align: center;
}
.portfolio p {
  margin-bottom: 50px;
}
.portfolio ul {
  display: flex;
  display: none;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 400px;
}
.portfolio ul a {
  color: var(--heading-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 4px;
}
.portfolio ul a.active {
  border-bottom: 3px solid hsl(42.4, 100%, 50%);
}
.portfolio .portfolio__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio .portfolio__container a.portfolio__item {
  flex: 1 0 calc(50% - 20px);
  display: none;
  height: 200px;
  position: relative;
}
.portfolio .portfolio__container a.portfolio__item:hover::before {
  cursor: pointer;
  opacity: 0.8;
}
.portfolio .portfolio__container a.portfolio__item:hover::after {
  opacity: 1;
}
.portfolio .portfolio__container a.portfolio__item.show {
  display: block;
}
.portfolio .portfolio__container a.portfolio__item::before {
  background: hsl(42.4, 100%, 50%);
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}
.portfolio .portfolio__container a.portfolio__item::after {
  color: hsl(210, 3%, 15%);
  content: "+";
  display: grid;
  font-size: 4rem;
  inset: 0;
  opacity: 0;
  place-content: center;
  position: absolute;
  transition: opacity 0.3s;
}
.portfolio .portfolio__container a.portfolio__item img {
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 100%;
}

.certification {
  text-align: center;
}
.certification p {
  margin-bottom: 50px;
}
.certification .certification__container {
  background-color: var(--contrast);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.certification .certification__container .certification__item {
  align-items: center;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: flex-start;
}
.certification .certification__container .certification__item img {
  height: 100%;
  width: 100%;
}

footer {
  align-items: center;
  background-color: var(--contrast);
  color: var(--heading-color);
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  padding: 18px;
}
footer .footer__links {
  align-items: center;
  display: flex;
  gap: 10px;
}
footer .footer__links a {
  color: hsl(42.4, 100%, 50%);
  text-decoration: none;
}
footer .footer__links svg {
  height: auto;
  max-width: 33px;
}
footer .footer__links svg path {
  fill: hsl(42.4, 100%, 50%);
}

@media (min-width: 768px) {
  body {
    padding: 0 40px;
  }
  body section:last-child {
    margin-bottom: 70px;
  }
  body section .section-header h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 25px;
  }
  header {
    background: url(../images/header-background.svg) var(--contrast);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 70px;
    padding: 41px 94px;
    transition: background-size 0.5s;
  }
  header:hover {
    background-size: 115%;
  }
  header .header__left {
    align-self: center;
    flex: 1 1 500px;
  }
  header .header__left h1 {
    font-size: 3.2rem;
    margin-bottom: 18px;
  }
  header .header__left p {
    display: block;
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .experience .experience__container .experience__item {
    flex: 1 0 calc(33% - 20px);
  }
  .portfolio {
    text-align: center;
  }
  .portfolio p {
    margin-bottom: 50px;
    width: 50ch;
  }
  .portfolio ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 400px;
  }
  .portfolio ul a {
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }
  .portfolio .portfolio__container a.portfolio__item {
    flex: 0 0 calc(33% - 12px);
    height: 250px;
  }
  .certification .certification__container {
    flex-direction: row;
  }
  .certification .certification__container .certification__item {
    flex: 0 0 33%;
  }
}
@media (min-width: 1135px) {
  body {
    padding: 0;
  }
  body section .section-header h2 {
    font-size: 2.13rem;
  }
  body section .section-header p {
    color: var(--primary);
    line-height: 24px;
  }
  header {
    display: flex;
    gap: 27px;
    padding: 93px 60px 74px;
    text-align: left;
  }
  header .header__left p {
    font-size: 1.067rem;
  }
  header .header__right {
    align-self: center;
    display: block;
  }
  header .header__right img {
    border-radius: 50%;
    height: auto;
    max-width: 325px;
    width: 100%;
  }
  .portfolio .portfolio__container .portfolio__item {
    height: 300px;
  }
}/*# sourceMappingURL=styles.css.map */