@import "variables";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: $bgColor;
  color: $primary;
  font-family: $inter;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    &:last-child {
      margin-bottom: 50px;
    }
    .section-header {
      h2 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 15px;
      }
      p {
        color: $primary;
        line-height: 24px;
      }
    }
  }
}

header {
  background: url(../images/header-background-mobile.png);
  background-size: cover;
  padding: 62px 85px;
  text-align: center;
  .header__left {
    align-self: center;
    flex: 1 1 500px;
    h1 {
      font-size: 2.13rem;
      margin-bottom: 25px;
      span {
        color: $secondary;
      }
    }
    p {
      display: none;
    }
    .btn {
      align-content: center;
      background: $secondary;
      border-radius: 5px;
      color: $heading;
      display: inline-flex;
      font-size: 1.067rem;
      font-weight: 500;
      padding: 16px 32px;
      text-transform: uppercase;
      img {
        padding-left: 9px;
      }
    }
  }
  .header__right {
    display: none;
  }
}
.portfolio {
  text-align: center;
  p {
    margin-bottom: 50px;
  }
  ul {
    display: flex;
    display: none;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 400px;
    a {
      color: $heading;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      &.active {
        color: $secondary;
      }
    }
  }
  .portfolio__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;
    .portfolio__item {
      height: 300px;
      width: 343px;
      background: $secondary;
    }
  }
}

@import "media";
