@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: #e5e5e5;
  color: #757575;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
  margin: 0;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
}

body section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

body section:last-child {
  margin-bottom: 50px;
}

body section .section-header h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

body section .section-header p {
  color: #757575;
  line-height: 24px;
}

.content-wrapper {
  max-width: 970px;
  width: 100%;
}

header {
  background: url(../images/header-background-mobile.png);
  background-size: cover;
  padding: 62px 85px;
  text-align: center;
}

header .header__left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

header .header__left h1 {
  font-size: 2.13rem;
  margin-bottom: 25px;
}

header .header__left h1 span {
  color: #ffb400;
}

header .header__left p {
  display: none;
}

header .header__left .btn {
  -ms-flex-line-pack: center;
      align-content: center;
  background: #ffb400;
  border-radius: 5px;
  color: #2b2b2b;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.067rem;
  font-weight: 500;
  padding: 16px 32px;
  text-transform: uppercase;
}

header .header__left .btn img {
  padding-left: 9px;
}

header .header__right {
  display: none;
}

.portfolio {
  text-align: center;
}

.portfolio p {
  margin-bottom: 50px;
}

.portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  width: 400px;
}

.portfolio ul a {
  color: #2b2b2b;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.portfolio ul a.active {
  color: #ffb400;
}

.portfolio .portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.portfolio .portfolio__container .portfolio__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50%-$gap);
          flex: 1 0 calc(50%-$gap);
  height: 300px;
  width: 343px;
  background: #ffb400;
}

@media (min-width: 768px) {
  body {
    padding: 0 40px;
  }
  body section {
    margin-top: 70px;
  }
  body section:last-child {
    margin-bottom: 70px;
  }
  body section .section-header h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 25px;
  }
  header {
    background: url(../images/header-background.svg) white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 41px 94px;
  }
  header .header__left {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
  }
  header .header__left h1 {
    font-size: 3.2rem;
    margin-bottom: 18px;
  }
  header .header__left p {
    display: block;
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .portfolio {
    text-align: center;
  }
  .portfolio p {
    margin-bottom: 50px;
    width: 50ch;
  }
  .portfolio ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
    width: 400px;
  }
  .portfolio ul a {
    color: #2b2b2b;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }
  .portfolio ul a.active {
    color: #ffb400;
  }
  .portfolio .portfolio__container .portfolio__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(33%-$gap);
            flex: 1 0 calc(33%-$gap);
    height: 200px;
    width: 213px;
  }
}

@media (min-width: 1135px) {
  body {
    padding: 0;
  }
  body section .section-header h2 {
    font-size: 2.13rem;
  }
  body section .section-header p {
    color: #757575;
    line-height: 24px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 27px;
    padding: 93px 60px 74px;
    text-align: left;
  }
  header .header__left p {
    font-size: 1.067rem;
  }
  header .header__right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
  }
  header .header__right img {
    border-radius: 50%;
    height: auto;
    max-width: 325px;
    width: 100%;
  }
  .portfolio .portfolio__container .portfolio__item {
    height: 300px;
    width: 310px;
  }
}
/*# sourceMappingURL=styles.css.map */