// dark and light mode https://dev.to/zetareticoli/dark-mode-with-sass-and-css-variables-4f9b
@import "variables";

body {
  --section-background: #{$bgColor-light};
  --heading-color: #{$heading-light};
  --contrast: #{$contrast-light};
}

.dark {
  --section-background: #{$bgColor-dark};
  --heading-color: #{$heading-dark};
  --contrast: #{$contrast-dark};
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  color: $primary;
  font-family: $inter;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin: 0;
}

.switch {
  background: var(--contrast);
  display: grid;
  height: 80px;
  place-content: center;
  position: fixed;
  right: -60px;
  transition: right 0.3s ease-in-out;
  width: 80px;
  &:hover {
    right: 0;
  }
  & svg path {
    fill: var(--heading-color);
  }
}

body {
  align-items: center;
  background-color: var(--section-background);
  display: flex;
  flex-direction: column;
  padding: 16px;
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    &:last-child {
      margin-bottom: 50px;
    }
    .section-header {
      h2 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 15px;
      }
      p {
        color: $primary;
        line-height: 24px;
      }
    }
  }
}

.content-wrapper {
  max-width: $contentW;
  width: 100%;
}

header {
  background: url(../images/header-background-mobile.svg) var(--contrast);
  background-size: cover;
  padding: 62px 85px;
  text-align: center;
  .header__left {
    align-self: center;
    flex: 1 1 500px;
    h1 {
      font-size: 2.13rem;
      margin-bottom: 25px;
      span {
        color: $secondary;
      }
    }
    p {
      display: none;
    }
    .btn {
      align-content: center;
      background: $secondary;
      border-radius: 5px;
      color: hsl(0, 0%, 16.9%);
      display: inline-flex;
      font-size: 1.067rem;
      font-weight: 500;
      padding: 16px 32px;
      text-transform: uppercase;
      img {
        padding-left: 9px;
      }
    }
  }
  .header__right {
    display: none;
  }
}
.portfolio {
  text-align: center;
  p {
    margin-bottom: 50px;
  }
  ul {
    display: flex;
    display: none;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 400px;
    a {
      color: var(--heading-color);
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      &.active {
        color: $secondary;
      }
    }
  }
  .portfolio__container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    .portfolio__item {
      flex: 1 0 calc(50% - 20px);
      height: 210px;
      width: 343px;
      background: $secondary;
    }
  }
}

@import "media";
